.bg-dark {
    background-color: #124e78 !important;
}

.bg-custom-white {
    background-color: #f6f6f6 !important;
}

.badge {
    font-size: 100% !important;
}

.carousel-caption {
    background-color: rgb(18,78,120, 0.5);
}